.highlight-true {
  background-color: lightgreen;
}
.header {
  margin: auto;
  width: 400px;
  background: lightblue;
  height: 100px;
}

.Inv {
    padding-top: 10px;
    padding-left: 50px;
    font-size: larger;
    font-weight: bold;
}
.listSelect {
    display: flex;
    justify-content: space-evenly;
}

.highlight-false {
  background-color: lightgray;
}

.hidden {
  display: none;
}
